<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="com.verticon.tracker.export.wlic.popupMenu"
           nameFilter="*.tracker"
           objectClass="org.eclipse.core.resources.IResource">
        <menu
              id="com.verticon.tracker.export.wlic.popupSubMenu"
              label="Tracker"
              path="additions">
           <groupMarker name="content"/>
           <separator name="additions"/>
        </menu>
            <action
              class="com.verticon.tracker.export.wlic.actions.ExportToWlic"
              enablesFor="+"
              id="com.verticon.tracker.export.wlic.actions.addTemplate"
              label="Export as a WLIC file"
              menubarPath="com.verticon.tracker.export.wlic.popupSubMenu/content"
              tooltip="Export the selected tracker model as a WLIC export file."/>    
     </objectContribution>
  </extension>    
 
</plugin>
