<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Ivy Repository Content</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<meta http-equiv="content-language" content="en">
<meta name="robots" content="index,follow">
<link rel="stylesheet" type="text/css" href="content.css">
</head>
<body>
<div id="logo">
<a href="http://ivy.jayasoft.org/"><img src="http://ivy.jayasoft.org/logo.png"></a>
<br>
<a id="rep" href="http://www.jayasoft.fr/org/ivyrep/">Ivy Repository</a>
</div>
<h1>Ivy Repository Content</h1>
<div id="stats">7 organisations,<br>19 modules,<br>30 revisions<br>
</div>
<table>
<tr class="org">
<td colspan="2">
<h2>
<a href="jmdns">jmdns</a>
</h2>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="jmdns/jmdns">jmdns</a>
</h3>
</td><td class="rev">
<div>
<a href="jmdns/jmdns/ivys/ivy-1.0-rc2.xml">1.0-rc2</a>
</div>
</td>
</tr>
<tr class="org">
<td colspan="2">
<h2>
<a href="mandarax">mandarax</a>
</h2>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="mandarax/mandarax-jdbc">mandarax-jdbc</a>
</h3>
</td><td class="rev">
<div>
<a href="mandarax/mandarax-jdbc/ivys/ivy-3.3.2.xml">3.3.2</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="mandarax/mandarax">mandarax</a>
</h3>
</td><td class="rev">
<div>
<a href="mandarax/mandarax/ivys/ivy-3.4.xml">3.4</a>
</div>
</td>
</tr>
<tr class="org">
<td colspan="2">
<h2>
<a href="mortbay">mortbay</a>
</h2>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="mortbay/jetty">jetty</a>
</h3>
</td><td class="rev">
<div>
<a href="mortbay/jetty/ivys/ivy-5.1.4.xml">5.1.4</a>
</div>
</td>
</tr>
<tr class="org">
<td colspan="2">
<h2>
<a href="piccolo">piccolo</a>
</h2>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="piccolo/piccolo">piccolo</a>
</h3>
</td><td class="rev">
<div>
<a href="piccolo/piccolo/ivys/ivy-1.1.xml">1.1</a>
</div>
</td>
</tr>
<tr class="org">
<td colspan="2">
<h2>
<a href="sun">sun</a>
</h2>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="sun/jnlpDownloadServlet">jnlpDownloadServlet</a>
</h3>
</td><td class="rev">
<div>
<a href="sun/jnlpDownloadServlet/ivys/ivy-1.5.0.xml">1.5.0</a>
</div>
</td>
</tr>
<tr class="org">
<td colspan="2">
<h2>
<a href="verticon">verticon</a>
</h2>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/common">common</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/common/ivys/ivy-1.1.xml">1.1</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/concurrent">concurrent</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/concurrent/ivys/ivy-2.0.xml">2.0</a>
</div>
<div>
<a href="verticon/concurrent/ivys/ivy-2.1.xml">2.1</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/ivyrunner">ivyrunner</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/ivyrunner/ivys/ivy-0.6.xml">0.6</a>
</div>
<div>
<a href="verticon/ivyrunner/ivys/ivy-0.7.xml">0.7</a>
</div>
<div>
<a href="verticon/ivyrunner/ivys/ivy-0.8.xml">0.8</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/jaxb">jaxb</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/jaxb/ivys/ivy-1.0.xml">1.0</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/jettyHelper">jettyHelper</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/jettyHelper/ivys/ivy-0.1.xml">0.1</a>
</div>
<div>
<a href="verticon/jettyHelper/ivys/ivy-0.2.xml">0.2</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/react2">react2</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/react2/ivys/ivy-1.2.xml">1.2</a>
</div>
<div>
<a href="verticon/react2/ivys/ivy-1.3.xml">1.3</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/react2c">react2c</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/react2c/ivys/ivy-0.9.12.xml">0.9.12</a>
</div>
<div>
<a href="verticon/react2c/ivys/ivy-0.9.13.xml">0.9.13</a>
</div>
<div>
<a href="verticon/react2c/ivys/ivy-0.9.14.xml">0.9.14</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/react2i">react2i</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/react2i/ivys/ivy-0.3.xml">0.3</a>
</div>
<div>
<a href="verticon/react2i/ivys/ivy-0.4.xml">0.4</a>
</div>
<div>
<a href="verticon/react2i/ivys/ivy-0.5.xml">0.5</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/sax">sax</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/sax/ivys/ivy-1.0.xml">1.0</a>
</div>
<div>
<a href="verticon/sax/ivys/ivy-1.1.xml">1.1</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/timer">timer</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/timer/ivys/ivy-2.0.xml">2.0</a>
</div>
<div>
<a href="verticon/timer/ivys/ivy-2.1.xml">2.1</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/vi-ldap">vi-ldap</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/vi-ldap/ivys/ivy-1.0.xml">1.0</a>
</div>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="verticon/vi-mandarax">vi-mandarax</a>
</h3>
</td><td class="rev">
<div>
<a href="verticon/vi-mandarax/ivys/ivy-0.6.xml">0.6</a>
</div>
</td>
</tr>
<tr class="org">
<td colspan="2">
<h2>
<a href="vi-apache">vi-apache</a>
</h2>
</td>
</tr>
<tr>
<td class="mod">
<h3>
<a href="vi-apache/apacheds-main">apacheds-main</a>
</h3>
</td><td class="rev">
<div>
<a href="vi-apache/apacheds-main/ivys/ivy-0.9.3-SNAPSHOT.xml">0.9.3-SNAPSHOT</a>
</div>
</td>
</tr>
</table>
<div id="copyright">
    file generated by <a href="http://www.jayasoft.fr/org/ivyrep/">ivyrep content generator</a> by <a href="http://www.jayasoft.org/">jayasoft</a>
<br>
</div>
</body>
</html>
