<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="com.verticon.osgi.metatype.presentation.MetatypeModelWizardID"
            name="%_UI_MetatypeModelWizard_label"
            class="com.verticon.osgi.metatype.presentation.MetatypeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MetatypeModelFile.gif">
         <description>%_UI_MetatypeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="com.verticon.osgi.metatype.presentation.MetatypeEditorID"
            name="%_UI_MetatypeEditor_label"
            icon="icons/full/obj16/MetatypeModelFile.gif"
            extensions="metatype"
            class="com.verticon.osgi.metatype.presentation.MetatypeEditor"
            contributorClass="com.verticon.osgi.metatype.presentation.MetatypeActionBarContributor">
      </editor>
   </extension>

</plugin>
