<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="%category.name"
            id="tracker-emf-validation/ocl">
      </category>
      <constraintProvider cache="true">
         <package namespaceUri="http://www.verticon.com/ns/tracker/1.0"/>
         
         <constraints categories="tracker-emf-validation/ocl">
            <!-- An animal can not be slaughtered more than once. -->
            <!-- This constraint applies to Animal -->
            <constraint
                  lang="OCL"
                  severity="ERROR"
                  mode="Batch"
                  name="%slaughteredAnimal.name"
                  id="slaughteredAnimal"
                  statusCode="101">
               <description>%slaughteredAnimal.desc</description>
               <message>%slaughteredAnimal.msg</message>
               <target class="Animal"/>
               <![CDATA[
                  Event.allInstances()->select(e : Event | e.oclIsTypeOf(Slaughtered) and e.ain=self.ain)->size()<2
               ]]>
            </constraint>
            <!-- This constraint applies to Slaughtered -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="%slaughteredEvent.name"
                  id="slaughteredEvent"
                  statusCode="101">
                  	<description>%slaughteredEvent.desc</description>
               		<message>%slaughteredEvent.msg</message>
               		<target class="Slaughtered"/>
               <![CDATA[
                 Event.allInstances() ->select(e : Event | e <> self and e.eventCode = self.eventCode and e.ain = self.ain) ->isEmpty()
               ]]>
               </constraint>
            
            
            <!-- An animal must have only one tagApplied Event -->
            <!-- This constraint applies to Animal -->
            <constraint
                  id="tagAppliedAnimal"
                  lang="OCL"
                  mode="Batch"
                  name="%tagAppliedAnimal.name"
                  severity="ERROR"
                  statusCode="101">
               	<description>%tagAppliedAnimal.desc</description>
               	<message>%tagAppliedAnimal.msg</message>
               	<target class="Animal"/>
               <![CDATA[
                 Event.allInstances()->select(e : Event | e.oclIsTypeOf(TagApplied) and e.ain=self.ain)->size()=1
               ]]>
            </constraint>
            <!-- This constraint applies to TagApplied -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="%tagAppliedEvent.name"
                  id="tagAppliedEvent"
                  statusCode="101">
                <description>%tagAppliedEvent.desc</description>
               	<message>%tagAppliedEvent.msg</message>
               	<target class="TagApplied"/>
               <![CDATA[
                 Event.allInstances() ->select(e : Event | e <> self and e.eventCode = self.eventCode and e.ain = self.ain) ->isEmpty()
               ]]>
            </constraint>   
            
            <!-- An animal must have one and only one FairRegistration Event -->
            <!-- This constraint applies to Animal -->
            <constraint
                  lang="OCL"
                  severity="ERROR"
                  mode="Batch"
                  name="%fairRegistrationAnimal.name"
                  id="fairRegistrationAnimal"
                  statusCode="101">
               <description>%fairRegistrationAnimal.desc</description>
               	<message>%fairRegistrationAnimal.msg</message>
               	<target class="Animal"/>
               <![CDATA[
                 Event.allInstances()->select(e : Event | e.oclIsTypeOf(FairRegistration) and e.ain=self.ain)->size()=1
               ]]>
            </constraint>
            <!-- This constraint applies to FairRegistration -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="%fairRegistrationEvent.name"
                  id="fairRegistrationEvent"
                  statusCode="101">
               <description>%fairRegistrationEvent.desc</description>
               	<message>%fairRegistrationEvent.msg</message>
               	<target class="FairRegistration"/>
               <![CDATA[
                 Event.allInstances() ->select(e : Event | e <> self and e.eventCode = self.eventCode and e.ain = self.ain) ->isEmpty()
               ]]>
            </constraint>
            
            <!-- An animal must have at least one moveIn event -->
            <!-- This constraint applies to Animal -->
            <constraint
                  lang="OCL"
                  severity="ERROR"
                  mode="Batch"
                  name="%moveInAnimal.name"
                  id="moveInAnimal"
                  statusCode="101">
               <description>%moveInAnimal.desc</description>
               	<message>%moveInAnimal.msg</message>
               	<target class="Animal"/>
               <![CDATA[
                 Event.allInstances()->select(e : Event | e.oclIsTypeOf(MovedIn) and e.ain=self.ain)->size()>0
               ]]>
            </constraint>
            
            <!-- An animal must have at least one weighIn event -->
            <!-- This constraint applies to Animal -->
            <constraint
                  lang="OCL"
                  severity="ERROR"
                  mode="Batch"
                  name="%weighInAnimal.name"
                  id="weighInAnimal"
                  statusCode="101">
               <description>%weighInAnimal.desc</description>
               	<message>%weighInAnimal.msg</message>
               	<target class="Animal"/>
               <![CDATA[
                 Event.allInstances()->select(e : Event | e.oclIsTypeOf(WeighIn) and e.ain=self.ain)->size()>0
               ]]>
            </constraint>
            
            
            <!-- An animal should have at least one moveOut event
            TODO Change to: An animal should have a moveOut for every moveIn event -->
            <!-- This constraint applies to Animal -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="%moveOutAnimal.name"
                  id="moveOutAnimal"
                  statusCode="101">
               <description>%moveOutAnimal.desc</description>
               	<message>%moveOutAnimal.msg</message>
               	<target class="Animal"/>
               <![CDATA[
                 Event.allInstances()->select(e : Event | e.oclIsTypeOf(MovedOut) and e.ain=self.ain)->size()>0
               ]]>
            </constraint>
            
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
