<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="%category.name"
            id="com.verticon.tracker.validation.catagory.ocl">
         <category
               id="core"
               name="%mycategory.name">
         </category>
      </category>
      <constraintProvider
            cache="true">
         <package namespaceUri="http://www.verticon.com/ns/tracker/0.1.0"/>
         <description>
            Core Tracker Constraints
         </description>
         <constraints categories="com.verticon.tracker.validation.catagory.ocl/core">
            <!-- An animal can not be slaughtered more than once. -->
            <!-- This constraint applies to Animal -->
            <constraint
                  lang="OCL"
                  severity="ERROR"
                  mode="Batch"
                  name="%slaughteredAnimal.name"
                  id="slaughteredAnimal"
                  statusCode="101">
               <description>%slaughteredAnimal.desc</description>
               <message>%slaughteredAnimal.msg</message>
               <target class="Animal"/>
               <![CDATA[
                  Event.allInstances()->select(e : Event | e.oclIsTypeOf(Slaughtered) and e.id=self.id)->size()<2
               ]]>
            </constraint>
            <!-- This constraint applies to Slaughtered -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="%slaughteredEvent.name"
                  id="slaughteredEvent"
                  statusCode="101">
                  	<description>%slaughteredEvent.desc</description>
               		<message>%slaughteredEvent.msg</message>
               		<target class="Slaughtered"/>
               <![CDATA[
                 Event.allInstances() ->select(e : Event | e <> self and e.eventCode = self.eventCode and e.id = self.id) ->isEmpty()
               ]]>
               </constraint>
            
            
            <!-- An animal must have only one tagApplied Event -->
            <!-- This constraint applies to Animal -->
            <constraint
                  id="tagAppliedAnimal"
                  lang="OCL"
                  mode="Batch"
                  name="%tagAppliedAnimal.name"
                  severity="ERROR"
                  statusCode="101">
               	<description>%tagAppliedAnimal.desc</description>
               	<message>%tagAppliedAnimal.msg</message>
               	<target class="Animal"/>
               <![CDATA[
                 Event.allInstances()->select(e : Event | e.oclIsTypeOf(TagApplied) and e.id=self.id)->size()=1
               ]]>
            </constraint>
            <!-- This constraint applies to TagApplied -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="%tagAppliedEvent.name"
                  id="tagAppliedEvent"
                  statusCode="101">
                <description>%tagAppliedEvent.desc</description>
               	<message>%tagAppliedEvent.msg</message>
               	<target class="TagApplied"/>
               <![CDATA[
                 Event.allInstances() ->select(e : Event | e <> self and e.eventCode = self.eventCode and e.id = self.id) ->isEmpty()
               ]]>
            </constraint>   
            
            <!-- This constraint applies to MoveIn -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="MovedIn Event Constraint (Batch Mode)"
                  id="movedInEvent"
                  statusCode="101">
                <description>The MovedIn sourcePin can not be the same as the local premisesId.</description>
               	<message>Core Constraint: "{0}" sourcePin can not be the same as the local premisesId.</message>
               	<target class="MovedIn"/>
               <![CDATA[
                 Premises.allInstances() -> select(premisesId=self.sourcePin) -> isEmpty()
               ]]>
            </constraint> 
            
            <!-- This constraint applies to MilkTest otherSolids value-->
            <constraint
         		lang="OCL"
         		severity="ERROR"
         		mode="Live"
         		name="MilkTest Event OtherSolids Constraint (Live Mode)"
         		id="milkTestEventOtherSolids"
         		statusCode="102">
      		<description>Example of a live mode (automatic) validation constraint in OCL.</description>
      		<message>"{0}" otherSolids value must be between 0 and 100. </message>
      		<target class="MilkTest">
         		<event name="Set">
            		<feature name="otherSolids"/>
       			</event>
       			<event name="Unset">
            		<feature name="otherSolids"/>
       			</event>
      		</target>
      		   otherSolids &gt; -1 and otherSolids &lt; 100
   			</constraint>
   
         </constraints>
      </constraintProvider>
   </extension>

<!-- Specify the context using the PropertyTester registered by
       the com.verticon.tracker.validation.adapter plugin -->
   <extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext id="com.verticon.tracker.validation.adapter">
         <enablement>
            <and>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
               <test
                  property="com.verticon.tracker.validation.adapter.ePackage"
                  value="http://www.verticon.com/ns/tracker/0.1.0"/>
            </and>
         </enablement>
      </clientContext>
      <!-- Bind the above context with the contraints catagory -->
      <binding
         context="com.verticon.tracker.validation.adapter"
         category="com.verticon.tracker.validation.catagory.ocl"/>
   </extension>
 <!--
   <extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
         id="com.verticon.tracker.validation.core.editorContribution" 
         targetID="com.verticon.tracker.editor.presentation.TrackerEditorID"> 
        <menu
               label="Validation Options"
               path="com.verticon.trackerMenuID/additions"
               id="com.verticon.tracker.validation.core.MenuID">
            <separator name="additions"/>
         </menu>
        
         <action
               label="Enable Live Validation"
               icon="$nl$/icons/elcl16/validate_co.gif"
               class="com.verticon.tracker.validation.core.actions.EnableLiveValidationDelegate"
               menubarPath="com.verticon.trackerMenuID/com.verticon.tracker.validation.core.MenuID/additions"
               id="com.verticon.tracker.validation.core.enableLiveValidationAction"
               tooltip="Enable live validation."/>
       
      
      </editorContribution> 
   </extension>
  -->
   <!-- Add the UI Validation Listener to the context-->
   <extension
         point="org.eclipse.emf.validation.ui.UIRegisteredClientContext">
      <clientContext id="com.verticon.tracker.validation.adapter"/>
   </extension>
   
</plugin>
