<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            name="%category.name"
            id="com.verticon.tracker.validation.catagory.ocl">
         <category
               id="core"
               name="%mycategory.name">
         </category>
      </category>
      <constraintProvider
            cache="true"
            mode="Batch">
         <package namespaceUri="http://www.verticon.com/ns/tracker/0.1.0"/>
         <description>
            Core Tracker Constraints
         </description>
         <constraints categories="com.verticon.tracker.validation.catagory.ocl/core">
            <!-- An animal can not be slaughtered more than once. -->
            <!-- This constraint applies to Animal -->
            <constraint
                  lang="OCL"
                  severity="ERROR"
                  mode="Batch"
                  name="%slaughteredAnimal.name"
                  id="slaughteredAnimal"
                  statusCode="101">
               <description>%slaughteredAnimal.desc</description>
               <message>%slaughteredAnimal.msg</message>
               <target class="Animal"/>
               <![CDATA[
                  Event.allInstances()->select(e : Event | e.oclIsTypeOf(Slaughtered) and e.id=self.id)->size()<2
               ]]>
            </constraint>
            <!-- This constraint applies to Slaughtered -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="%slaughteredEvent.name"
                  id="slaughteredEvent"
                  statusCode="101">
                  	<description>%slaughteredEvent.desc</description>
               		<message>%slaughteredEvent.msg</message>
               		<target class="Slaughtered"/>
               <![CDATA[
                 Event.allInstances() ->select(e : Event | e <> self and e.eventCode = self.eventCode and e.id = self.id) ->isEmpty()
               ]]>
               </constraint>
            
            
            <!-- An animal must have only one tagApplied Event -->
            <!-- This constraint applies to Animal -->
            <constraint
                  id="tagAppliedAnimal"
                  lang="OCL"
                  mode="Batch"
                  name="%tagAppliedAnimal.name"
                  severity="ERROR"
                  statusCode="101">
               	<description>%tagAppliedAnimal.desc</description>
               	<message>%tagAppliedAnimal.msg</message>
               	<target class="Animal"/>
               <![CDATA[
                 Event.allInstances()->select(e : Event | e.oclIsTypeOf(TagApplied) and e.id=self.id)->size()=1
               ]]>
            </constraint>
            <!-- This constraint applies to TagApplied -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="%tagAppliedEvent.name"
                  id="tagAppliedEvent"
                  statusCode="101">
                <description>%tagAppliedEvent.desc</description>
               	<message>%tagAppliedEvent.msg</message>
               	<target class="TagApplied"/>
               <![CDATA[
                 Event.allInstances() ->select(e : Event | e <> self and e.eventCode = self.eventCode and e.id = self.id) ->isEmpty()
               ]]>
            </constraint>   
            
            <!-- This constraint applies to MoveIn -->
            <constraint
                  lang="OCL"
                  severity="WARNING"
                  mode="Batch"
                  name="MovedIn Event Constraint (Batch Mode)"
                  id="movedInEvent"
                  statusCode="101">
                <description>The MovedIn sourcePin can not be the same as the local premisesId.</description>
               	<message>Core Constraint: "{0}" sourcePin can not be the same as the local premisesId.</message>
               	<target class="MovedIn"/>
               <![CDATA[
                 Premises.allInstances() -> select(premisesId=self.sourcePin) -> isEmpty()
               ]]>
            </constraint> 
         </constraints>
      </constraintProvider>
   </extension>


   <extension point="org.eclipse.emf.validation.constraintBindings">
      <!-- Specify the context using the PropertyTester registered by
       the com.verticon.tracker.validation.adapter plugin -->
      <clientContext id="com.verticon.tracker.validation.adapter">
         <enablement>
            <and>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
               <test
                  property="com.verticon.tracker.validation.adapter.ePackage"
                  value="http://www.verticon.com/ns/tracker/0.1.0"/>
            </and>
         </enablement>
      </clientContext>
      <!-- Bind the above context with the contraints catagory -->
      <binding
         context="com.verticon.tracker.validation.adapter"
         category="com.verticon.tracker.validation.catagory.ocl"/>
   </extension>
   
</plugin>
