<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
/**
 * <copyright>
 *
 * Copyright (c) 2005 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   IBM - Initial API and implementation
 *
 * </copyright>
 *
 * $Id$
 */
-->
<plugin>

     <extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
         id="com.verticon.tracker.ocl.query.editorContribution" 
         targetID="com.verticon.tracker.editor.presentation.TrackerEditorID"> 
        <menu
               label="%_UI_OclMenu_label"
               path="com.verticon.trackerMenuID/additions"
               id="org.eclipse.emf.oclQueryMenuID">
            <separator name="additions"/>
         </menu>
         <action
               label="%_UI_CtxFreeQuery_label"
               class="com.verticon.tracker.ocl.query.actions.ContextFreeQueryDelegate"
               menubarPath="com.verticon.trackerMenuID/org.eclipse.emf.oclQueryMenuID/additions"
               icon="$nl$/icons/elcl16/oclqryedit_co.gif"
               id="com.verticon.tracker.ocl.query.ContextFreeQueryAction"/>
         <action
               label="%_UI_OclQuery_label"
               class="com.verticon.tracker.ocl.query.actions.OCLQueryDelegate"
               menubarPath="com.verticon.trackerMenuID/org.eclipse.emf.oclQueryMenuID/additions"
               icon="$nl$/icons/elcl16/oclqryedit_co.gif"
               id="com.verticon.tracker.ocl.query.OclQueryAction"/>
      </editorContribution>
      <!--
      <editorContribution
            id="com.verticon.tracker.ocl.query.fairEditorContribution"
            targetID="com.verticon.tracker.fair.editor.presentation.FairEditorID">
         <menu
               label="%_UI_OclMenu_label"
               path="com.verticon.tracker.fairMenuID/additions"
			   id="org.eclipse.emf.oclQueryMenuIDFairEditor">
              <separator name="additions"/>
         </menu>
         <action
               label="%_UI_CtxFreeQuery_label"
               class="com.verticon.tracker.ocl.query.actions.ContextFreeQueryDelegate"
               menubarPath="com.verticon.tracker.fairMenuID/org.eclipse.emf.oclQueryMenuIDFairEditor/additions"
               icon="$nl$/icons/elcl16/oclqryedit_co.gif"
               id="com.verticon.tracker.fair.editor.ocl.query.ContextFreeQueryAction"/>
         <action
               label="%_UI_OclQuery_label"
               class="com.verticon.tracker.ocl.query.actions.OCLQueryDelegate"
               menubarPath="com.verticon.tracker.fairMenuID/org.eclipse.emf.oclQueryMenuIDFairEditor/additions"
               icon="$nl$/icons/elcl16/oclqryedit_co.gif"
               id="com.verticon.tracker.fair.editor.ocl.query.OclQueryAction"/>
      </editorContribution> 
      -->
      <editorContribution
            id="com.verticon.tracker.ocl.query.transactionEditorContribution"
            targetID="com.verticon.tracker.transaction.editor.TrackerEditorID">
         <menu
               label="%_UI_OclMenu_label"
               path="com.verticon.tracker.transaction.TrackerMenuID/additions"
			   id="org.eclipse.emf.oclQueryMenuIDTransactionEditor">
              <separator name="additions"/>
         </menu>
         <action
               label="%_UI_CtxFreeQuery_label"
               class="com.verticon.tracker.ocl.query.actions.ContextFreeQueryDelegate"
               menubarPath="com.verticon.tracker.transaction.TrackerMenuID/org.eclipse.emf.oclQueryMenuIDTransactionEditor/additions"
               icon="$nl$/icons/elcl16/oclqryedit_co.gif"
               id="com.verticon.tracker.transaction.editor.ocl.query.ContextFreeQueryAction"/>
         <action
               label="%_UI_OclQuery_label"
               class="com.verticon.tracker.ocl.query.actions.OCLQueryDelegate"
               menubarPath="com.verticon.tracker.transaction.TrackerMenuID/org.eclipse.emf.oclQueryMenuIDTransactionEditor/additions"
               icon="$nl$/icons/elcl16/oclqryedit_co.gif"
               id="com.verticon.tracker.transaction.editor.ocl.query.OclQueryAction"/>
      </editorContribution> 
   </extension> 

</plugin>
