/* report { 
 	font-family: serif;
 	font-size: medium
 	}

table { 
 	font-size:small 
 	} 

tablexHeader  { 
	font-weight: bold; 
	background-color: gray 
	} 
*/

.report {
font-family : sans-serif;
font-size : medium;
font-weight : bold;
color : navy;
}

.table {
color : navy;
}

.table-group-header-1 {
background : #4581E8;
border-bottom : double;
border-top : solid;
border-top-width : thin;
border-color : #FFF8DC;
}
.table-group-header-2 {
background : #45D2E8;
border-bottom : double;
border-top : solid;
border-top-width : thin;
border-color : #FFF8DC;
font-size : small;
}
.table-header {
background : yellow;
text-align: left;
border-bottom : double;
border-top : solid;
border-top-width : thin;
border-color : #483D8B;
}

.table-footer {
background : yellow;
border-top : double;
border-bottom : solid;
border-bottom-width : thin;
border-color : 483D8B;
font-size : x-small;
}


.data{
padding-right: 2em;
}

/*

.table-detail {
font-size : small;
padding-bottom: 5ex;

}

background : #061af4;
font-weight : bold;
color : #3100a5;
color : #4682B4;
.data{
padding: 5ems;
color: orange;
number-format-category: fixed;
}
*/

