<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <!-- Registers the EValidatorAdapter with the ECore Validation Registry at startup -->
   <extension point="org.eclipse.ui.startup">
      <startup class="com.verticon.tracker.validation.adapter.Startup"/>
   </extension>
   
   <!-- Registers a propertyTester to test the package of EObject(s) -->
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="com.verticon.tracker.validation.adapter.EObjectPropertyTester"
         type="org.eclipse.emf.ecore.EObject"
         namespace="com.verticon.tracker.validation.adapter"
         properties="ePackage"
         class="com.verticon.tracker.validation.adapter.expressions.EObjectPropertyTester">
      </propertyTester>
   </extension>
   
   <!-- Bind the contraints catagory using the PropertyTester above -->
   <extension point="org.eclipse.emf.validation.constraintBindings">
      <clientContext id="com.verticon.tracker.validation.adapter">
         <enablement>
            <and>
               <instanceof value="org.eclipse.emf.ecore.EObject"/>
               <test
                  property="com.verticon.tracker.validation.adapter.ePackage"
                  value="http://www.verticon.com/ns/tracker/1.0"/>
            </and>
         </enablement>
      </clientContext>
      
      <binding
         context="com.verticon.tracker.validation.adapter"
         category="tracker-emf-validation"/>
   </extension>
   
   
</plugin>
