<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Tracker Indigo 4" sequenceNumber="107">
<locations>
<location path="/opt/orbit-org.slf4j-1.5.11" type="Directory"/>
<location path="/opt/Eclipse/emf-compare-update-2.0.0/eclipse" type="Directory"/>
<location path="/opt/Eclipse/eclipse-SDK-3.7.2/eclipse" type="Directory"/>
<location path="/opt/Eclipse/emft-mwe-2-sdk-2.2.0/eclipse" type="Directory"/>
<location path="/opt/Eclipse/google-inject" type="Directory"/>
<location path="/opt/Eclipse/eclipse-3.7.2-delta-pack/eclipse" type="Directory"/>
<location path="/opt/Eclipse/birt-report-framework-sdk-3_7_2/eclipse" type="Directory"/>
<location path="/opt/Eclipse/m2t-xpand-SDK-1.1.1/eclipse" type="Directory"/>
<location path="/opt/Eclipse/emf-query-SDK-1.6.0/eclipse" type="Directory"/>
<location path="/opt/Eclipse/mdt-ocl-SDK-3.1.1RC2/eclipse" type="Directory"/>
<location path="/opt/Eclipse/GEF-zest-sdk-3.7.0/eclipse" type="Directory"/>
<location path="/opt/Eclipse/dtp-skd_1.10.1/eclipse" type="Directory"/>
<location path="/opt/Eclipse/apache-commons" type="Directory"/>
<location path="/opt/Eclipse/emf-transaction-SDK-1.5.1/eclipse" type="Directory"/>
<location path="/opt/Eclipse/emf-xsd-SDK-2.7.1/eclipse" type="Directory"/>
<location path="/opt/Eclipse/emf-oda-1.1.0/eclipse" type="Directory"/>
<location path="/opt/Eclipse/equinox-SDK-3.7.1/eclipse" type="Directory"/>
<location path="/opt/hamcrest-1.3.0" type="Directory"/>
<location path="/opt/Eclipse/swtbot/eclipse" type="Directory"/>
<location path="/opt/Eclipse/xtext-unittesting/eclipse" type="Directory"/>
<location path="/opt/Eclipse/mdt-ocl-examples-3.1.1RC2/eclipse" type="Directory"/>
<location path="/opt/Eclipse/google-guava" type="Directory"/>
<location path="/opt/Eclipse/emf-validation-SDK-1.5.0/eclipse" type="Directory"/>
<location path="/opt/ekkesCornerLogging/eclipse-target" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="gnu.io.rxtx.sdk.feature.group" version="2.1.7.4_v20071016-417C7DP1Bh_eEaQJBrHBHg"/>
<repository location="http://rxtx.qbang.org/eclipse"/>
</location>
<location path="/opt/logback-0.9.19" type="Directory"/>
<location path="/opt/Eclipse/emft-mwe-2-lang-SDK-2.2.0/eclipse" type="Directory"/>
<location path="/opt/Eclipse/monitoradmin" type="Directory"/>
<location path="/opt/Eclipse/GEF-ALL-3.7.1/eclipse" type="Directory"/>
<location path="/opt/Eclipse/tmf-xtext-sdk-2.2.1/eclipse" type="Directory"/>
<location path="/opt/Eclipse/eclipse-webtools/eclipse" type="Directory"/>
<location path="/opt/Eclipse/apache/eclipse" type="Directory"/>
<location path="/opt/Eclipse/mongoemf-0.7.0/eclipse" type="Directory"/>
<location path="/opt/mongo-2.7.2" type="Directory"/>
<location path="/opt/easymock" type="Directory"/>
<location path="/opt/ApacheWebConsole" type="Directory"/>
</locations>
</target>
