<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="Tracker Mars 01 Target Platform" sequenceNumber="1437862995">
  <locations>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.common.ui.feature.group" version="2.10.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.ecore.editor.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.converter.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.rap.sdk.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.common.feature.group" version="2.11.0.v20150512-0501"/>
      <unit id="org.eclipse.emf.mapping.ecore.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.edit.ui.feature.group" version="2.7.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.databinding.edit.feature.group" version="1.4.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.rap.edit.ui.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.edit.ui.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.mapping.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.oda.sdk.feature.group" version="1.4.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.edit.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.common.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.codegen.ui.feature.group" version="2.8.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.sdk.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.all.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.editor.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.edit.feature.group" version="2.8.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.doc.feature.group" version="2.10.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.codegen.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.oda.feature.group" version="1.3.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.databinding.feature.group" version="1.4.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.ecore.converter.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.rap.common.ui.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.oda.ecore.feature.group" version="1.3.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.ecore.feature.group" version="2.11.0.v20150512-0501"/>
      <unit id="org.eclipse.emf.mapping.ecore.editor.feature.group" version="2.10.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.codegen.ecore.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.codegen.ecore.ui.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.mapping.editor.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.examples.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.edit.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.ecore.edit.feature.group" version="2.8.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.oda.ecore.ui.feature.group" version="1.3.0.v20150601-0402"/>
      <unit id="org.eclipse.xsd.doc.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.mapping.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.rap.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.ecore.edit.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.mapping.ui.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.gwt.ecore.feature.group" version="2.9.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.11.0.v20150601-0402"/>
      <unit id="org.eclipse.emf.oda.sdk.feature.jar" version="1.4.0.v20150601-0402"/>
      <repository location="file:/opt/Eclipse/emf-xsd/emf-xsd-Update-2.11.0/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.xtend.gwt.feature.group" version="2.8.3.v201506010551"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.8.3.v201506010551"/>
      <unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.2.2.v20150202-0452"/>
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.8.0.v201505260456"/>
      <unit id="org.eclipse.emf.ecore.xcore.ui.feature.group" version="1.2.1.v20150202-0452"/>
      <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.2.2.v20150202-0452"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.8.3.v201506010551"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <unit id="com.google.inject" version="3.0.0.v201312141243"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="3.10.0.v20150512-1727"/>
      <unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="1.0.0.v20150512-1727"/>
      <unit id="org.eclipse.ecf.core.feature.feature.group" version="1.1.0.v20150512-1727"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.feature.feature.group" version="3.10.0.v20150512-1727"/>
      <unit id="org.eclipse.ecf.filetransfer.httpclient4.ssl.feature.feature.group" version="1.0.0.v20150512-1727"/>
      <unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="1.0.0.v20150512-1727"/>
      <unit id="org.eclipse.ecf.core.feature.group" version="3.10.0.v20150512-1727"/>
      <repository location="http://download.eclipse.org/rt/ecf/3.10.0/site.p2/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.net4j.sdk.feature.group" version="4.4.0.v20150610-1925"/>
      <unit id="org.eclipse.net4j.sdk.source.feature.group" version="4.4.0.v20150610-1925"/>
      <unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.4.0.v20150610-1925"/>
      <unit id="org.eclipse.emf.cdo.sdk.source.feature.group" version="4.4.0.v20150610-1925"/>
      <unit id="org.eclipse.emf.cdo.dawn.sdk.feature.group" version="2.1.100.v20150610-1925"/>
      <unit id="org.eclipse.emf.cdo.dawn.sdk.source.feature.group" version="2.1.100.v20150610-1925"/>
      <repository location="file:/opt/Eclipse/cdo/emf-cdo-R20150610-1526/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.compare.feature.group" version="3.1.0.201506080833"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="3.1.0.201506080833"/>
      <unit id="org.eclipse.emf.compare.source.feature.group" version="3.1.0.201506080833"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.1.0.201506080833"/>
      <unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="3.1.0.201506080833"/>
      <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.1.0.201506080833"/>
      <repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/3.1/R201506080833/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.transaction.examples.source.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.transaction.tests.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.transaction.source.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.transaction.doc.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.transaction.examples.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.workspace.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.transaction.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.workspace.doc.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.workspace.examples.source.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.workspace.examples.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.workspace.source.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.8.0.201405281451"/>
      <unit id="org.eclipse.emf.transaction.master.feature.group" version="1.8.0.201405281451"/>
      <repository location="file:/opt/Eclipse/emf-transaction/emf-transaction-Update-1.8.0/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.validation.master.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.validation.examples.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.validation.doc.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.validation.examples.source.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.validation.ocl.source.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.validation.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.validation.tests.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.validation.ocl.feature.group" version="1.9.0.201505312255"/>
      <unit id="org.eclipse.emf.validation.source.feature.group" version="1.9.0.201505312255"/>
      <repository location="file:/opt/Eclipse/emf-validation/emf-validation-Update-1.9.0/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ocl.examples.classic.feature.group" version="5.1.0.v20150608-1714"/>
      <unit id="org.eclipse.ocl.examples.unified.feature.group" version="4.0.0.v20150608-1714"/>
      <unit id="org.eclipse.ocl.master.feature.group" version="6.0.0.v20150608-1714"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.0.0.v20150608-1714"/>
      <unit id="org.eclipse.uml2.common.feature.group" version="2.1.0.v20150601-0733"/>
      <unit id="org.eclipse.uml2.uml.resources" version="5.1.0.v20150601-0733"/>
      <unit id="org.eclipse.uml2" version="5.0.0.v20150601-0733"/>
      <unit id="org.eclipse.uml2.common.edit.feature.group" version="2.1.0.v20150601-0733"/>
      <unit id="org.eclipse.uml2.codegen.ecore.ui.feature.group" version="2.1.0.v20150601-0733"/>
      <unit id="org.eclipse.uml2.doc" version="5.0.0.v20150601-0733"/>
      <unit id="org.eclipse.uml2.uml.feature.group" version="5.1.0.v20150601-0733"/>
      <unit id="org.eclipse.uml2.doc.feature.group" version="5.0.0.v20150601-0733"/>
      <unit id="org.eclipse.uml2.feature.group" version="5.1.0.v20150601-0733"/>
      <repository location="https://www.eclipse.org/modeling/updates/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.parsley.feature.feature.group" version="0.4.0.v20150608-1211"/>
      <unit id="org.eclipse.emf.parsley.cdo.feature.feature.group" version="0.4.0.v20150608-1211"/>
      <unit id="org.eclipse.emf.parsley.cdo.feature.source.feature.group" version="0.4.0.v20150608-1211"/>
      <unit id="org.eclipse.emf.parsley.feature.source.feature.group" version="0.4.0.v20150608-1211"/>
      <unit id="org.eclipse.emf.parsley.dsl.feature.feature.group" version="0.4.0.v20150608-1211"/>
      <unit id="org.eclipse.emf.parsley.dsl.feature.source.feature.group" version="0.4.0.v20150608-1211"/>
      <unit id="org.eclipse.emf.parsley.sdk.feature.group" version="0.4.0.v20150608-1211"/>
      <unit id="org.eclipse.emf.parsley.sdk.source.feature.group" version="0.4.0.v20150608-1211"/>
      <repository location="http://download.eclipse.org/emf-parsley/updates/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.query.doc.feature.group" version="1.9.0.201505312221"/>
      <unit id="org.eclipse.emf.query.feature.group" version="1.9.0.201505312221"/>
      <unit id="org.eclipse.emf.query.examples.ocl" version="2.0.0.201505312221"/>
      <unit id="org.eclipse.emf.query.master.feature.group" version="1.9.0.201505312221"/>
      <unit id="org.eclipse.emf.query.ocl.feature.group" version="1.9.0.201505312221"/>
      <unit id="org.eclipse.emf.query.sdk.feature.group" version="1.9.0.201505312221"/>
      <unit id="org.eclipse.emf.query.examples.ocl.source" version="2.0.0.201505312221"/>
      <unit id="org.eclipse.emf.query.ocl.source.feature.group" version="1.9.0.201505312221"/>
      <repository location="file:/opt/Eclipse/emf-query-Update/emf-query-Update-1.9.0/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="1.3.0.201503261201"/>
      <unit id="org.eclipse.nebula.widgets.nattable.core.source.feature.feature.group" version="1.3.0.201503261201"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.poi.feature.feature.group" version="1.3.0.201503261201"/>
      <unit id="org.eclipse.nebula.widgets.nattable.extension.poi.source.feature.feature.group" version="1.3.0.201503261201"/>
      <repository location="file:/opt/Eclipse/nattable/1.3.0/eclipse/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.ecp.cdo.feature.feature.group" version="1.6.1.20150626-1237"/>
      <unit id="org.eclipse.emf.ecp.feature.feature.group" version="1.6.1.20150626-1237"/>
      <unit id="org.eclipse.emf.ecp.sdk.feature.feature.group" version="1.6.1.20150626-1237"/>
      <unit id="org.eclipse.emf.ecp.ecore.feature.feature.group" version="1.6.1.20150626-1237"/>
      <repository location="http://download.eclipse.org/ecp/releases/releases_target_16/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="slf4j.api" version="1.7.12"/>
      <unit id="ch.qos.logback.classic" version="1.1.3"/>
      <unit id="ch.qos.logback.core" version="1.1.3"/>
      <unit id="jcl.over.slf4j" version="1.7.12"/>
      <unit id="log4j.over.slf4j" version="1.7.12"/>
      <unit id="org.slf4j.osgi-over-slf4j" version="1.7.12"/>
      <unit id="jul.to.slf4j" version="1.7.12"/>
      <unit id="me.moocar.logback-gelf" version="0.2.0"/>
      <unit id="me.moocar.socket-encoder-appender" version="0.0.0.1beta1"/>
      <unit id="com.google.gson" version="2.3.1"/>
      <repository location="file:/opt/slf4j-bridges/1.7.12"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.equinox.executable.feature.group" version="3.6.200.v20150602-1417"/>
      <unit id="org.eclipse.e4.rcp.feature.group" version="1.4.0.v20150603-0857"/>
      <unit id="org.eclipse.e4.rcp.source.feature.group" version="1.4.0.v20150603-0857"/>
      <unit id="org.eclipse.rcp.feature.group" version="4.5.0.v20150603-2331"/>
      <unit id="org.eclipse.rcp.source.feature.group" version="4.5.0.v20150603-2331"/>
      <unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="3.11.0.v20150430-1834"/>
      <unit id="org.eclipse.equinox.core.feature.feature.group" version="1.2.100.v20150529-1857"/>
      <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.100.v20150601-1708"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.9.100.v20150601-1708"/>
      <unit id="org.eclipse.equinox.wireadmin" version="1.0.500.v20140327-1559"/>
      <unit id="org.eclipse.equinox.concurrent" version="1.1.0.v20130327-1442"/>
      <repository location="http://download.eclipse.org/eclipse/updates/4.5/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.batik.css" version="1.6.0.v201011041432"/>
      <unit id="org.apache.batik.util" version="1.6.0.v201011041432"/>
      <unit id="org.apache.batik.util.gui" version="1.6.0.v201011041432"/>
      <unit id="org.apache.batik.bridge" version="1.6.0.v201011041432"/>
      <unit id="org.apache.batik.dom" version="1.6.1.v201505192100"/>
      <unit id="org.apache.batik.dom.svg" version="1.6.0.v201011041432"/>
      <unit id="org.apache.batik.ext.awt" version="1.6.0.v201011041432"/>
      <unit id="org.apache.batik.parser" version="1.6.0.v201011041432"/>
      <unit id="org.apache.batik.pdf" version="1.6.0.v201105071520"/>
      <unit id="org.apache.batik.svggen" version="1.6.0.v201011041432"/>
      <unit id="org.apache.batik.transcoder" version="1.6.0.v201011041432"/>
      <unit id="org.apache.batik.xml" version="1.6.0.v201011041432"/>
      <unit id="org.eclipse.emf.emfstore.client.feature.feature.group" version="1.5.0.v20150609-1145"/>
      <unit id="org.eclipse.xtend.feature.group" version="2.1.0.v201505260349"/>
      <unit id="org.eclipse.xtext.runtime.feature.group" version="2.8.3.v201506010551"/>
      <unit id="org.eclipse.xtext.ui.feature.group" version="2.8.3.v201506010551"/>
      <unit id="org.eclipse.datatools.common.doc.user.feature.group" version="1.12.0.v201405281819-26-311A16321A3557"/>
      <unit id="org.eclipse.datatools.sdk.feature.feature.group" version="1.12.0.v201406061321-7PB21FEpPZQXdcX0z-_yMM0Hfz0w"/>
      <unit id="org.eclipse.datatools.connectivity.feature.feature.group" version="1.12.0.v201406061321-7C7n9DEsxcwtN5odeWrQrgwYHq8"/>
      <unit id="org.eclipse.datatools.enablement.feature.feature.group" version="1.12.0.v201406061321-7J9t0B_0haN-EchrvGIyEh2M8j8a"/>
      <unit id="org.eclipse.datatools.enablement.oda.feature.feature.group" version="1.12.0.v201406061321-7D7U7OEVVFNSGfJoIz0Of"/>
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.1.0.v20150608-1714"/>
      <unit id="org.eclipse.ui.workbench" version="3.107.0.v20150510-1732"/>
      <unit id="org.eclipse.ui.views" version="3.8.0.v20150422-0725"/>
      <unit id="org.eclipse.ui.cheatsheets" version="3.4.200.v20131227-1524"/>
      <unit id="org.eclipse.ui.browser" version="3.4.300.v20150429-0602"/>
      <unit id="org.eclipse.ui.console" version="3.6.0.v20150512-1341"/>
      <unit id="org.eclipse.ui.editors" version="3.9.0.v20150213-1939"/>
      <unit id="org.eclipse.ui.externaltools" version="3.3.0.v20150302-1002"/>
      <unit id="org.eclipse.ui.forms" version="3.6.200.v20150506-2029"/>
      <unit id="org.eclipse.ui.ide" version="3.11.0.v20150510-1749"/>
      <unit id="org.eclipse.ui.ide.application" version="1.1.0.v20150422-0725"/>
      <unit id="org.eclipse.ui.intro" version="3.4.300.v20141007-1449"/>
      <unit id="org.eclipse.ui.navigator" version="3.6.0.v20150422-0725"/>
      <unit id="org.eclipse.ui.navigator.resources" version="3.5.0.v20150422-0725"/>
      <unit id="org.eclipse.ui.intro.universal" version="3.2.800.v20150325-0952"/>
      <unit id="org.eclipse.ui.net" version="1.2.200.v20120807-0927"/>
      <unit id="org.eclipse.ui.views.log" version="1.0.600.v20150513-1840"/>
      <unit id="org.eclipse.ui.views.properties.tabbed" version="3.6.100.v20150423-0822"/>
      <unit id="org.eclipse.ui.workbench.texteditor" version="3.9.100.v20141023-1946"/>
      <unit id="org.eclipse.pde.feature.group" version="3.11.0.v20150603-2000"/>
      <unit id="org.eclipse.jface" version="3.11.0.v20150602-1400"/>
      <unit id="org.eclipse.jface.databinding" version="1.7.0.v20150406-2148"/>
      <unit id="org.eclipse.jface.text" version="3.10.0.v20150603-1752"/>
      <unit id="org.eclipse.uml2.sdk.feature.group" version="5.1.0.v20150601-0733"/>
      <unit id="org.eclipse.help.feature.group" version="2.1.0.v20150603-2000"/>
      <unit id="org.eclipse.core.resources" version="3.10.0.v20150423-0755"/>
      <unit id="org.eclipse.core.filesystem" version="1.5.0.v20150421-0713"/>
      <unit id="org.eclipse.osgi.util" version="3.3.100.v20150423-1351"/>
      <unit id="org.eclipse.pde.core" version="3.10.100.v20150522-0332"/>
      <unit id="org.eclipse.core.runtime.feature.feature.group" version="1.1.100.v20150529-1857"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.5.0.v20150603-2358"/>
      <unit id="com.ibm.icu" version="54.1.1.v201501272100"/>
      <unit id="javax.annotation" version="1.2.0.v201401042248"/>
      <unit id="javax.inject" version="1.0.0.v20091030"/>
      <unit id="javax.xml" version="1.3.4.v201005080400"/>
      <unit id="org.eclipse.core.net" version="1.2.300.v20141118-1725"/>
      <unit id="org.apache.ant" version="1.9.4.v201504302020"/>
      <unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
      <unit id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
      <unit id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
      <unit id="org.apache.felix.gogo.shell" version="0.10.0.v201212101605"/>
      <unit id="org.apache.poi" version="3.9.0.v201405241750"/>
      <unit id="org.eclipse.ant.core" version="3.4.0.v20150428-1928"/>
      <unit id="org.eclipse.ant.ui" version="3.6.0.v20150428-1928"/>
      <unit id="org.junit" version="4.12.0.v201504281640"/>
      <unit id="org.eclipse.wst.ws_ui.feature.feature.group" version="3.7.0.v201505141512"/>
      <unit id="org.eclipse.wst.common_core.feature.feature.group" version="3.7.0.v201505132009"/>
      <unit id="org.eclipse.wst.xml_core.feature.feature.group" version="3.7.0.v201502261749"/>
      <unit id="org.eclipse.wst.common.project.facet.core" version="1.4.300.v201111030423"/>
      <repository location="http://download.eclipse.org/releases/mars"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="gnu.io.rxtx.sdk.feature.group" version="2.1.7.4_v20071016-417C7DP1Bh_eEaQJBrHBHg"/>
      <repository location="file:/opt/Eclipse/mirrors/rxtx/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.nebula.cwt" version="0.9.0.201501260813"/>
      <unit id="org.eclipse.nebula.widgets.cdatetime" version="0.14.0.201501260813"/>
      <repository location="file:/opt/Eclipse/nebula/repository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.4.2"/>
      <unit id="com.fasterxml.jackson.jr.jackson-jr-objects" version="2.4.2"/>
      <unit id="com.netflix.rxjava.core" version="0.19.6"/>
      <unit id="com.yammer.metrics.core" version="3.0.0.BETA1"/>
      <unit id="joda-time" version="2.3.0"/>
      <unit id="org.apache.commons.cli" version="1.2.0.v201105210650"/>
      <unit id="org.apache.commons.codec" version="1.3.0.v201101211617"/>
      <unit id="org.apache.commons.el" version="1.0.0.v201101211617"/>
      <unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
      <unit id="org.apache.commons.lang" version="2.4.0.v201005080502"/>
      <unit id="org.apache.felix.dependencymanager" version="2.0.1"/>
      <unit id="org.apache.felix.deploymentadmin" version="0.9.0.SNAPSHOT"/>
      <unit id="org.apache.log4j" version="1.2.13.v200903072027"/>
      <unit id="org.easymock" version="2.4.0.v20080924-1600"/>
      <unit id="org.eclipse.equinox.http" version="1.0.500.v20110413"/>
      <unit id="org.eclipse.equinox.servletbridge.extensionbundle" version="1.2.100.v20120522-2049"/>
      <unit id="org.eclipselabs.emf.query.simple" version="0.7.0.201207021221"/>
      <unit id="org.eclipselabs.mongo" version="0.7.0.201207021221"/>
      <unit id="org.eclipselabs.mongo.emf" version="0.7.0.201207021221"/>
      <unit id="org.eclipselabs.mongo.emf.builders" version="0.7.0.201207021221"/>
      <unit id="org.eclipselabs.mongo.emf.converter" version="0.7.0.201207021221"/>
      <unit id="org.eclipselabs.mongo.emf.ext" version="0.7.0.201207021221"/>
      <unit id="org.eclipselabs.mongo.emf.freemarker" version="0.7.0.201207021221"/>
      <unit id="org.eclipselabs.mongo.emf.log" version="0.7.0.201207021221"/>
      <unit id="org.eclipselabs.mongo.emf.query.simple" version="0.7.0.201207021221"/>
      <unit id="org.eclipselabs.mongo.emf.streams" version="0.7.0.201207021221"/>
      <unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.0.486-dev-e35"/>
      <unit id="org.ekkescorner.logging.core" version="0.7.0.201003132201"/>
      <unit id="org.ekkescorner.logging.lilith.multiplexer.fragment" version="0.9.37.201003132201"/>
      <unit id="org.ekkescorner.logging.logback.util.fragment" version="0.9.18.201003132201"/>
      <unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.core" version="1.3.0"/>
      <unit id="org.hamcrest.integration" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.library" version="1.1.0.v20090501071000"/>
      <unit id="org.hamcrest.text" version="1.1.0.v20090501071000"/>
      <unit id="org.mongodb.mongo-java-driver" version="2.11.1.RELEASE"/>
      <unit id="org.osgilab.bundles.monitoradmin" version="1.0.1"/>
      <unit id="org.rxtx" version="2.2.0"/>
      <unit id="slf4j.ext" version="1.7.5"/>
      <unit id="slf4j.nop" version="1.7.5"/>
      <unit id="slf4j.simple" version="1.7.5"/>
      <repository location="file:/opt/Eclipse/miscBundleRepository/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.zest.sdk.feature.group" version="1.6.0.201506010206"/>
      <unit id="org.eclipse.gef.all.feature.group" version="3.10.0.201506010206"/>
      <repository location="file:/opt/Eclipse/gef/GEF-Update-3.10.0/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.birt.chart.cshelp.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.chart.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.chart.integration.wtp.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.chart.osgi.runtime.sdk.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.doc.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.integration.wtp.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.osgi.runtime.sdk.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.report.designer.editor.xml.wtp.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.cshelp.feature.group" version="4.5.0.v201506092134"/>
      <unit id="org.eclipse.birt.example.feature.group" version="4.5.0.v201506092134"/>
      <repository location="http://download.eclipse.org/birt/update-site/4.5/"/>
    </location>
    <location includeMode="slicer" includeAllPlatforms="true" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe.sdk.feature.group" version="1.3.10.v201505260335"/>
      <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.8.0.v201505260335"/>
      <repository location="file:/opt/Eclipse/emf-mwe/emft-mwe-Update-2.8.0/"/>
    </location>
  </locations>
</target>
