<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Tracker Indigo 1" sequenceNumber="13">
<locations>
<location path="/opt/ekkesCornerLogging/eclipse-target" type="Directory"/>
<location path="/opt/Eclipse/monitoradmin" type="Directory"/>
<location path="/opt/easymock" type="Directory"/>
<location path="/opt/logback-0.9.19" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="gnu.io.rxtx.sdk.feature.group" version="2.1.7.4_v20071016-417C7DP1Bh_eEaQJBrHBHg"/>
<repository location="http://rxtx.qbang.org/eclipse"/>
</location>
<location path="/opt/orbit-org.slf4j-1.5.11" type="Directory"/>
<location path="/opt/Eclipse/equinox-SDK-3.7" type="Directory"/>
<location path="/opt/Eclipse/birt-report-framework-3.7.0/eclipse" type="Directory"/>
<location path="/opt/Eclipse/GEF-zest-sdk-3.7.0/eclipse" type="Directory"/>
<location path="/opt/Eclipse/dtp-1.9.0/eclipse" type="Directory"/>
<location path="/opt/ApacheWebConsole" type="Directory"/>
<location path="/opt/Eclipse/swtbot/eclipse" type="Directory"/>
<location path="/opt/Eclipse/eclipse-3.7.delta-pack/eclipse" type="Directory"/>
<location path="/opt/Eclipse/eclipse-modeling-indigo-target_platform/eclipse" type="Directory"/>
<location path="/opt/Eclipse/apache/eclipse" type="Directory"/>
<location path="/opt/Eclipse/google" type="Directory"/>
</locations>
</target>
