<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
          id="com.verticon.tracker.editor.Wizard.category.ID"
          name="Tracker Wizards"/>
    <wizard
      id = "com.verticon.tracker.editor.presentation.TrackerModelWizardID"
      name = "%_UI_TrackerModelWizard_label"
      class = "com.verticon.tracker.editor.presentation.TrackerModelWizard"
      category = "com.verticon.tracker.editor.Wizard.category.ID"
      icon = "icons/full/obj16/TrackerModelFile.gif">
      <description>%_UI_TrackerModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
    <wizard
      id = "com.verticon.tracker.editor.presentation.TrackerTemplateWizardID"
      name = "%_UI_TrackerTemplateWizard_label"
      class = "com.verticon.tracker.editor.presentation.TrackerTemplateWizard"
      category = "com.verticon.tracker.editor.Wizard.category.ID"
      icon = "icons/full/obj16/TrackerModelFile.gif">
      <description>%_UI_TrackerTemplateWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
    
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "com.verticon.tracker.editor.presentation.TrackerEditorID"
        name = "%_UI_TrackerEditor_label"
        icon = "icons/full/obj16/TrackerModelFile.gif"
        extensions = "tracker"
        class = "com.verticon.tracker.editor.presentation.TrackerEditor" 
        contributorClass="com.verticon.tracker.editor.presentation.TrackerActionBarContributor" >
    </editor>
  </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="true"
           id="com.verticon.tracker.editor.popupMenu"
           nameFilter="*.tags"
           objectClass="org.eclipse.core.resources.IResource">
        <menu
              id="com.verticon.tracker.editor.popupSubMenu"
              label="Tracker"
              path="additions">
           <groupMarker name="content"/>
           <separator name="additions"/>
        </menu>
        <action
              class="com.verticon.tracker.editor.actions.AddToAnimalsActionDelegate"
              enablesFor="+"
              id="com.verticon.tracker.editor.actions.addToAnimals"
              label="Add to Animals"
              menubarPath="com.verticon.tracker.editor.popupSubMenu/content"
              tooltip="Add the tag ids in the selected resource(s) as Premises Animals"/>
        
        <action
              class="com.verticon.tracker.editor.actions.AddAsTagApplied"
              enablesFor="+"
              id="com.verticon.tracker.editor.actions.addAsTagApplied"
              label="Add as TagApplied Events"
              menubarPath="com.verticon.tracker.editor.popupSubMenu/content"
              tooltip="Add the tag ids in the selected resource(s) as Premises TagApplied Events."/>
         
         <action
              class="com.verticon.tracker.editor.actions.AddAsMovedIn"
              enablesFor="+"
              id="com.verticon.tracker.editor.actions.addAsMovedIn"
              label="Add as MovedIn Events"
              menubarPath="com.verticon.tracker.editor.popupSubMenu/content"
              tooltip="Add the tag ids in the selected resource(s) as Premises MovedIn Events."/> 
              
          <action
              class="com.verticon.tracker.editor.actions.AddAsMovedOut"
              enablesFor="+"
              id="com.verticon.tracker.editor.actions.addAsMovedOut"
              label="Add as MovedOut Events"
              menubarPath="com.verticon.tracker.editor.popupSubMenu/content"
              tooltip="Add the tag ids in the selected resource(s) as Premises MovedOut Events."/>   
           
           <action
              class="com.verticon.tracker.editor.actions.AddAsWeighIn"
              enablesFor="+"
              id="com.verticon.tracker.editor.actions.addAsWeighIn"
              label="Add as WeighIn Events"
              menubarPath="com.verticon.tracker.editor.popupSubMenu/content"
              tooltip="Add the tag ids in the selected resource(s) as Premises WeighIn Events."/>   
            
            <action
              class="com.verticon.tracker.editor.actions.AddAsFairRegistration"
              enablesFor="+"
              id="com.verticon.tracker.editor.actions.addFairRegistration"
              label="Add as FairRegistration Events"
              menubarPath="com.verticon.tracker.editor.popupSubMenu/content"
              tooltip="Add the tag ids in the selected resource(s) as Premises FairRegistration Events."/>  
              
             <action
              class="com.verticon.tracker.editor.actions.AddTemplateEventsToCaptureAins"
              enablesFor="+"
              id="com.verticon.tracker.editor.actions.addTemplate"
              label="Add as Templated Events"
              menubarPath="com.verticon.tracker.editor.popupSubMenu/content"
              tooltip="Add the tag ids in the selected resource(s) as the type of Events described in a Template file."/>    
               
     </objectContribution>
  </extension>    
  <extension point="org.eclipse.ui.popupMenus">
  	<objectContribution adaptable="true"
  		id="com.verticon.tracker.editor.animal.popupMenu"
  		objectClass="com.verticon.tracker.Animal">
  		<menu id="com.verticon.tracker.editor.animal.popupSubMenu"
  			label="Tracker" path="additions">
  			<groupMarker name="content" />
  			<separator name="additions" />
  		</menu>
  		<action
  			class="com.verticon.tracker.editor.actions.AddTemplatedEventsToSelectedAnimals"
  			enablesFor="+"
  			id="com.verticon.tracker.editor.actions.addTemplateEventsToAnimals"
  			label="Add Templated Events"
  			menubarPath="com.verticon.tracker.editor.animal.popupSubMenu/content"
  			tooltip="Add Events described in a Template file to the selected Animal(s)." />

  	</objectContribution>
  </extension>
  <extension
        id="Tracker"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.ui.ide.workbench"
           description="Tracker models animal event history within a premises"
           name="Tracker">
        <property
              name="windowImages"
              value="icons/verticon32.gif"/>
        <property
              name="aboutText"
              value="Tracker Animal Event Management Platform&#x0A;Version: 1.0.0 &#x0A;Build id: {0}&#x0A;&#x0A;(c) Copyright Verticon, Inc. 2007.  All rights reserved. &#x0A;&#x0A;Visit http:/www.verticon.com&#x0A;&#x0A;Tracker is powered by Eclipse technology and includes Eclipse plugins &#x0A;that can be installed and used with other Eclipse (3.2)-based offerings."/>
        <property
              name="aboutImage"
              value="icons/tracker_lg.gif"/>
        <property
              name="startupForegroundColor"
              value="C8D5EA"/>
        <property
              name="startupProgressRect"
              value="0,280,455,15"/>
        <property
              name="startupMessageRect"
              value="7,220,441,20"/>
     </product>
  </extension>
  <extension
        point="org.eclipse.ui.decorators">
     <decorator
           adaptable="true"
           class="com.verticon.tracker.editor.decorators.TrackerTemplateDecorator"
           id="com.verticon.tracker.editor.decorator"
           label="Template"
           lightweight="true"
           state="true">
        <enablement>
           <and>
              <objectClass name="org.eclipse.core.resources.IResource"/>
              <objectState
                    name="name"
                    value="*.tracker"/>
              <objectState
                    name="persistentProperty"
                    value="com.vertion.tracker.fileType=template"/>
           </and>
        </enablement>
     </decorator>
  </extension>
  
</plugin>
