<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2007 Verticon, Inc. All Rights Reserved.

 $Id$
-->

<plugin>



  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "com.verticon.tracker.fair.transaction.editor.presentation.FairEditorID"
        name = "%_UI_FairEditor_label"
        icon = "icons/full/obj16/FairModelFile.gif"
        extensions = "fair"
        class = "com.verticon.tracker.fair.transaction.editor.presentation.FairTransactionEditor" 
        contributorClass="com.verticon.tracker.fair.transaction.editor.presentation.FairTransactionActionBarContributor" >
    </editor>
  </extension>

  
  <!--TODO Move this out of this plug in to a separate plugin feature as a command/handler 
  
    <command
             id="com.verticon.tracker.fair.editor.commands.fairData.import.command"
             defaultHandler="com.verticon.tracker.fair.editor.handlers.MovedInFairRegistrationHandler"
             categoryId="com.verticon.tracker.fair.editor.commands.Fair.category"
             description="%_UI_commands_fairData_import_description"
             name="%_UI_commands_fairData_import_name">
      </command>
      
   <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            
         <menu
               label="Tracker Fair Exhibit Data Actions">
               <visibleWhen>
		               <with variable="activeMenuSelection">
		                  <iterate>
		                      <adapt type="org.eclipse.core.resources.IResource">
		          					<test property="org.eclipse.core.resources.name" 
		               				 value="*.xls"/>
		      				 </adapt>
		                  </iterate>
		               </with>
	            </visibleWhen>
               <command
                     commandId="com.verticon.tracker.fair.editor.commands.fairData.import.command"
               style="push">
               </command>
         </menu>
      </menuContribution>
  
  
  -->
  <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="true"
           id="com.verticon.tracker.editor.popupMenu"
           nameFilter="*.xls"
           objectClass="org.eclipse.core.resources.IResource">
        <menu
              id="com.verticon.tracker.editor.popupSubMenu"
              label="%menu.label.3"
              path="additions">
           <groupMarker name="content"/>
           <separator name="additions"/>
        </menu>
        <action
              class="com.verticon.tracker.fair.transaction.editor.popup.actions.ImportFairExhibitDataWizardDelegate"
              enablesFor="+"
              id="com.verticon.tracker.fair.import.registration.details"
              label="%action.label.4"
              menubarPath="com.verticon.tracker.editor.popupSubMenu/content"
              tooltip="%action.tooltip.4"/>    
              
     </objectContribution>
  </extension>    
  
</plugin>
