<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2007 Verticon, Inc. All Rights Reserved.

 $Id$
-->

<plugin>


  <extension
    point = "org.eclipse.ui.newWizards">
    <category
          id="com.verticon.tracker.editor.Wizard.category.ID"
          name="Tracker Wizards"/>

    <wizard
      id = "com.verticon.tracker.fair.editor.presentation.FairModelWizardID"
      name = "%_UI_FairModelWizard_label"
      class = "com.verticon.tracker.fair.editor.presentation.FairModelWizard"
      category = "com.verticon.tracker.editor.Wizard.category.ID"
      icon = "icons/full/obj16/FairModelFile.gif">
      <description>%_UI_FairModelWizard_description</description>
      <selection class = "org.eclipse.core.resources.IResource" />
    </wizard>
  </extension>

  <extension point = "org.eclipse.ui.editors">
    <editor
        id = "com.verticon.tracker.fair.editor.presentation.FairEditorID"
        name = "%_UI_FairEditor_label"
        icon = "icons/full/obj16/FairModelFile.gif"
        extensions = "fair"
        class = "com.verticon.tracker.fair.editor.presentation.FairEditor" 
        contributorClass="com.verticon.tracker.fair.editor.presentation.FairActionBarContributor" >
    </editor>
  </extension>    
  
   <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="true"
           id="com.verticon.tracker.fair.editor.popupMenu"
           nameFilter="*.xls"
           objectClass="org.eclipse.core.resources.IResource">
        <menu
              id="com.verticon.tracker.fair.editor.popupSubMenu"
              label="Add People to the Fair"
              path="additions">
           <groupMarker name="content"/>
           <separator name="additions"/>
        </menu>
        <action
              class="com.verticon.tracker.fair.editor.actions.AddPeopleActionDelegate"
              enablesFor="+"
              id="com.verticon.tracker.fair.editor.actions.addPeople"
              label="Add People from an people.xls spreadsheet"
              menubarPath="com.verticon.tracker.fair.editor.popupSubMenu/content"
              tooltip="%_UI_TrackerTagsPopupPremisesTemplateEvents_description"/>    
       
     </objectContribution>
  </extension> 
  
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.verticon.tracker.fair.editor.importCategory"
            name="Import Resources to Fair Projects">
      </category>
      <wizard
            category="com.verticon.tracker.fair.editor.importCategory"
            class="com.verticon.tracker.fair.editor.actions.ImportSpreadSheetWizard"
            icon="icons/sample.gif"
            id="com.verticon.tracker.fair.editor.ImportPeopleWizard"
            name="Spread Sheet Import">
         <description>
            Import a spread sheet file from the local file system into the selected project.
         </description>
      </wizard>
   </extension>
  
</plugin>
