<?xml version="1.0" encoding="UTF-8"?>
<!--
# HOW TO Change LOGBack configuration at program launch,
#
# in linux:
# ./tracker -vmargs -Dlogback.configurationFile=file:/home/jconlon/Desktop/tracker/logback-test.xml 
# or in windows with:
# "C:\Program Files\tracker\tracker.exe" -vmargs "-Dlogback.configurationFile=file:C:/Downloads/tracker/logback-test.xml"

-->
<configuration>
  
  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${user.home}/tracker.log</File>
    <ImmediateFlush>true</ImmediateFlush>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <!--pattern>%d{HH:mm:ss.SSS} %-10level [%bundle] [%thread] %logger{25} %message %n</pattern-->
      <pattern>%d{HH:mm:ss.SSS} %-10level [%marker] [%thread] [%logger{25}] -  %message %ex %n</pattern>
      <!--pattern>[%d{ISO8601}]%5p%6.6r[%t]%bundle - %C.%M(%F:%L) - %m%n</pattern-->
    </layout>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>tracker.%i.log</FileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>2</maxIndex>
    </rollingPolicy>
    
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>100KB</MaxFileSize>
    </triggeringPolicy>
  </appender>
 
  
  
  <logger name="com.verticon.tracker.transaction">
    <level value="INFO"/>
  </logger>
  
  
  <root>
    <level value="WARN"/>
    
    <appender-ref ref="RollingFile"/>
    
  </root>
  	
  <consolePlugin />
</configuration>
