<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2011 Verticon, Inc. All Rights Reserved.
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
  	<package
    	 uri = "http://www.verticon.com/ns/tracker/fair/0.1.0"
    	 class = "com.verticon.tracker.fair.FairPackage"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.verticon.com/tracker.fair/0.2.1/fair"
            class="com.verticon.tracker.fair.FairPackage"
            genModel="model/fair.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="com.verticon.tracker.fair"
            class="com.verticon.tracker.fair.util.FairResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="fair,xml"
            id="com.verticon.tracker.fair"
            name="%_UI_Fair_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.verticon.com/ns/tracker/fair/0.1.0"/>
         </describer>
      </content-type>
      <content-type
            base-type="com.verticon.tracker.fair"
            file-extensions="fair,xml"
            id="com.verticon.tracker.fair_0_2_1"
            name="%_UI_Fair_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.verticon.com/tracker.fair/0.2.1/fair"/>
         </describer>
      </content-type>
   </extension>

</plugin>
