<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.verticon.tracker.reader.readerWizards">
      <wizard
            class="com.verticon.tracker.reader.event.comm.SerialPortReaderWizard"
            factory="com.verticon.tracker.reader.event.comm.SerialPortReaderFactory"
            id="com.verticon.tracker.reader.comm.commPortReader"
            name="SerialPortReader">
         <description>
            reads TagIDs sent from devices attachted to a Serial Comm Port.
         </description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.verticon.tracker.prefs.view"
            class="com.verticon.tracker.reader.event.comm.PreferencePage"
            id="com.verticon.tracker.reader.preferences.SerialPortReaderPreferencePage"
            name="SerialPortReader"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.verticon.tracker.reader.event.comm.PreferenceInitializer"/>
   </extension>
  
</plugin>
