<configuration debug="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </layout>
  </appender>

  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${user.home}/tracker.log</File>
    
    <layout class="ch.qos.logback.classic.PatternLayout">
      <!--pattern>%d{HH:mm:ss.SSS} %-10level [%bundle] [%thread] %logger{25} %message %nopex %n</pattern-->
      <pattern>%d{HH:mm:ss.SSS} %-10level [%marker] [%thread] [%logger{25}] -  %message %ex %n</pattern>
      <!--pattern>[%d{ISO8601}]%5p%6.6r[%t]%bundle - %C.%M(%F:%L) - %m%n</pattern-->
    </layout>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>tracker.%i.log</FileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>2</maxIndex>
    </rollingPolicy>
    
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>100KB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="RollingFile"/>
  </root>
  
 
  <!-- consolePlugin /-->
  
</configuration>