<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.2"?>

<target name="Tracker 01">

   <location path="/home/jconlon/eclipse-target-platforms/eclipse-modeling-ganymede-SRI-incubation-01/eclipse"/>

   <content>
      <plugins>
         <plugin id="com.ibm.icu"/>
         <plugin id="gnu.io.rxtx.linux.x86"/>
         <plugin id="gnu.io.rxtx.win32.x86"/>
         <plugin id="javax.xml"/>
         <plugin id="org.apache.poi"/>
         <plugin id="org.eclipse.core.filesystem.linux.x86"/>
         <plugin id="org.eclipse.core.filesystem.win32.x86"/>
         <plugin id="org.eclipse.core.net.linux.x86"/>
         <plugin id="org.eclipse.core.net.win32.x86"/>
         <plugin id="org.eclipse.core.resources.win32.x86"/>
         <plugin id="org.eclipse.equinox.cm"/>
         <plugin id="org.eclipse.equinox.event"/>
         <plugin id="org.eclipse.equinox.io"/>
         <plugin id="org.eclipse.equinox.launcher.gtk.linux.x86"/>
         <plugin id="org.eclipse.equinox.launcher.win32.win32.x86"/>
         <plugin id="org.eclipse.equinox.launcher.wpf.win32.x86"/>
         <plugin id="org.eclipse.equinox.security.win32.x86"/>
         <plugin id="org.eclipse.equinox.util"/>
         <plugin id="org.eclipse.swt.gtk.linux.x86"/>
         <plugin id="org.eclipse.swt.win32.win32.x86"/>
         <plugin id="org.eclipse.swt.wpf.win32.x86"/>
         <plugin id="org.eclipse.ui.win32"/>
         <plugin id="org.eclipse.update.core.linux"/>
         <plugin id="org.eclipse.update.core.win32"/>
         <plugin id="org.junit"/>
      </plugins>
      <features>
         <feature id="com.verticon.tracker.group.dep.feature"/>
      </features>
      <extraLocations>
         <location path="/home/jconlon/eclipse-target-platforms/eclipse-modeling-ganymede-SRI-incubation-01/eclipse/dropins/gnuIoRxtx"/>
         <location path="/home/jconlon/eclipse-target-platforms/eclipse-modeling-ganymede-SRI-incubation-01/eclipse/dropins/apache-poi"/>
         <location path="/home/jconlon/eclipse-target-platforms/eclipse-modeling-ganymede-SRI-incubation-01/eclipse/dropins/equinox"/>
      </extraLocations>
   </content>

</target>
