<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.verticon.com/ns/tracker/0.1.0" 
       class = "com.verticon.tracker.TrackerPackage"
       genModel = "model/tracker.genmodel" /> 
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser 
       type="tracker" 
       class="com.verticon.tracker.util.TrackerResourceFactoryImpl" />
  </extension>
  <extension
        id="Tracker"
        point="org.eclipse.core.runtime.products">
     <product
           application="org.eclipse.ui.ide.workbench"
           name="Tracker">
        <property
              name="windowImages"
              value="icons/verticon16.png,icons/verticon32.png"/>
        <property
              name="aboutImage"
              value="platform:/plugin/com.verticon.tracker.editor/icons/tracker_lg.gif"/>
        <property
              name="startupForegroundColor"
              value="C8D5EA"/>
        <property
              name="startupProgressRect"
              value="0,280,455,15"/>
        <property
              name="startupMessageRect"
              value="7,220,441,20"/>
        <property
              name="aboutText"
              value="Tracker Animal Event Management Framework&#x0A;&#x0A;Version: 1.0.0&#x0A;Build id: {0}&#x0A;&#x0A;(c) Copyright Verticon, Inc. 2008.  All rights reserved.  &#x0A;Visit http:/www.verticon.com&#x0A;&#x0A;Tracker is powered by Eclipse technology and includes Eclipse plugins&#x0A;that can be installed and used with other Eclipse (3.2)-based offerings."/>
     </product>
  </extension>

</plugin>

