<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension point="org.eclipse.ui.editorActions"> 
      <editorContribution 
         id="com.verticon.tracker.ocl.query.editorContribution" 
         targetID="com.verticon.tracker.editor.presentation.TrackerEditorID"> 
        <menu
               label="%_UI_ExportMenu_label"
               path="com.verticon.trackerMenuID/additions"
               id="com.verticon.tracker.exportMenuID">
            <separator name="additions"/>
         </menu>
         <action
               class="com.verticon.tracker.export.wlic.actions.ExportWlicEditorActionDelegate"
               enablesFor="!"
               icon="$nl$/icons/etool16/export_wiz.gif"
               id="com.verticon.tracker.export.wlic.ExportWlicAction"
               label="%_UI_ExportWlic_label"
               menubarPath="com.verticon.trackerMenuID/com.verticon.tracker.exportMenuID/additions"/>
        
      </editorContribution> 
   </extension> 
 
</plugin>
