<?xml version="1.0" encoding="UTF-8"?>
<!--
# HOW TO Change LOGBack configuration at program launch,
#
# in linux:
# ./tracker -vmargs -Dlogback.configurationFile=file:/home/jconlon/Desktop/tracker/logback-test.xml 
# or in windows with:
# "C:\Program Files\tracker\tracker.exe" -vmargs "-Dlogback.configurationFile=file:C:/Downloads/tracker/logback-test.xml"
#
#
# This file is the primary logback configuration file for Tracker dev and the deployed mudshark tracker.

<configuration debug="true" scan="true">
-->
<configuration scan="true" debug="false">
  
  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${user.home}/tracker.log</File>
    <ImmediateFlush>true</ImmediateFlush>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <!--pattern>%d{HH:mm:ss.SSS} %-10level [%bundle] [%thread] %logger{25} %message %n</pattern-->
      <pattern>%date %-10level [%marker] [%thread] [%logger{25}] -  %message %ex %n</pattern>
      <!--pattern>[%d{ISO8601}]%5p%6.6r[%t]%bundle - %C.%M(%F:%L) - %m%n</pattern-->
    </layout>
    
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>tracker.%i.log</FileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>2</maxIndex>
    </rollingPolicy>
    
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>100KB</MaxFileSize>
    </triggeringPolicy>
  </appender>
  
 <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%-4relative %-5level %logger{35} - %msg %n</Pattern>
    </layout>
  </appender>

 <!--Standard Logback socketAppender
 		superceded by the multiplex appender.
 <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
    <RemoteHost>localhost</RemoteHost>
    <Port>4560</Port>
    <ReconnectionDelay>10000</ReconnectionDelay>
    <IncludeCallerData>false</IncludeCallerData>
  </appender>
-->

<!--Custom socketAppender for Lilith, supercedes the Logback SocketAppender
	RemoteHost can be set as ${host} refers per ex. to -Dhost=localhost
	you can use more then one hosts: localhost, 10.42.42.42 -->
 <appender name="multiplex"
	class="de.huxhorn.lilith.logback.appender.ClassicMultiplexSocketAppender">
	<Compressing>true</Compressing>
	<!-- will automatically use correct default port -->
	<ReconnectionDelay>10000</ReconnectionDelay>
	<IncludeCallerData>true</IncludeCallerData>
	<RemoteHosts>localhost</RemoteHosts>
	<ApplicationIdentifier>${logback.application}</ApplicationIdentifier>
	<encoding>UTF-8</encoding>
 </appender>

 
  <logger name="com.verticon.tracker">
    <level value="DEBUG"/>
  </logger>
  
   <logger name="com.verticon.osgi">
    <level value="WARN"/>
  </logger>
  
  <logger name="com.verticon.tracker.impl.AnimalEventHistoryAdapter">
    <level value="WARN"/>
  </logger>
  <logger name="com.verticon.tracker.editor.util.UpdateStrategies">
     <level value="WARN"/>
  </logger>
  
   <logger name="com.verticon.tracker.editor.util.SingleValueEAttributeChoiceControlBuilder">
  	<level value="WARN"/>
  </logger>
  
  <logger name="com.verticon.tracker.editor.util.DefaultPropertiesFormProvider">
  	<level value="WARN"/>
  </logger>
  
   <logger name="com.verticon.tracker.editor.util.SingleValueEAttributeControlBuilder">
  	<level value="WARN"/>
  </logger>
  
  <logger name="com.verticon.tracker.editor.util.ControlBuilderFactory">
  	<level value="WARN"/>
  </logger>
  
  <logger name="com.verticon.tracker.birt">
    <level value="INFO"/>
  </logger>
  
  <logger name="com.verticon.tracker.editor.presentation.SelectionViewerFilter">
    <level value="WARN"/>
  </logger>
  
  <logger name="com.verticon.tracker.editor.presentation.ImportAnimalLifeDataWizard">
    <level value="INFO"/>
  </logger>
  
  <logger name="com.verticon.tracker.irouter.dev">
    <level value="DEBUG"/>
    <appender-ref ref="STDOUT"/>
  </logger>
  
  <logger name="com.verticon.tracker.irouter.trutest.test">
    <level value="DEBUG"/>
    <appender-ref ref="STDOUT"/>
  </logger>
  
  <logger name="com.verticon.tracker.irouter.trutest.IntializerCallableTest">
    <level value="DEBUG"/>
    <appender-ref ref="STDOUT"/>
  </logger>
  
  <logger name="com.verticon.tracker.irouter.trutest.dev">
    <level value="DEBUG"/>
    <appender-ref ref="STDOUT"/>
  </logger>
  
 <logger name="com.verticon.tracker.itrouter.common.TaskMonitoringServiceTest">
    <level value="DEBUG"/>
    <appender-ref ref="STDOUT"/>
 </logger>
  <root>
    <level value="WARN"/>
    
    <appender-ref ref="multiplex"/>
   
    <!--  
     <appender-ref ref="STDOUT"/>
     <appender-ref ref="RollingFile"/>
    -->
  </root>
  
  <!--  <consolePlugin /> -->	
 
</configuration>
