<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.verticon.com/agriculture/1.0/ag"
            class="com.verticon.agriculture.AgriculturePackage"
            genModel="agriculture.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="agri"
            class="com.verticon.agriculture.util.AgricultureResourceFactoryImpl"/>
   </extension>

</plugin>
