<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
        point="org.eclipse.ui.popupMenus">
     <objectContribution
           adaptable="false"
           id="com.verticon.tracker.export.xls.popupMenu"
           nameFilter="*.tracker"
           objectClass="org.eclipse.core.resources.IResource">
        <menu
              id="com.verticon.tracker.export.wlic.popupSubMenu"
              label="Tracker"
              path="additions">
           <groupMarker name="content"/>
           <separator name="additions"/>
        </menu>
            <action
              class="com.verticon.tracker.export.xls.actions.ExportFairRegistration"
              enablesFor="+"
              id="com.verticon.tracker.export.xls.actions.addTemplate"
              label="Export as a Fair Registration XLS file"
              menubarPath="com.verticon.tracker.export.wlic.popupSubMenu/content"
              tooltip="Export the selected tracker model FairRegistration events as a XLS file."/>
            
            <action
              class="com.verticon.tracker.export.xls.actions.ExportRawEvents"
              enablesFor="+"
              id="com.verticon.tracker.export.xls.actions.validation"
              label="Export Fair Registration Raw Event XLS file"
              menubarPath="com.verticon.tracker.export.wlic.popupSubMenu/content"
              tooltip="Export the selected tracker model Fair Registration Raw Events as a XLS file."/>    
            <!--
            <action
              class="com.verticon.tracker.export.xls.actions.ExportValidation"
              enablesFor="+"
              id="com.verticon.tracker.export.xls.actions.validation"
              label="Export Validation XLS file"
              menubarPath="com.verticon.tracker.export.wlic.popupSubMenu/content"
              tooltip="Export the selected tracker model Validation errors as a XLS file."/>  
              --> 
    </objectContribution>
 </extension>    
 </plugin>
